# Auth Files
login.ini
*.session
*.session-journal

# Venv
venv

# Working Directory
working
json
csv
mini-json
decompressed-json

# Output
*.csv
failed-minification.txt
failed-upload.txt
failed-download.txt